* {margin: 0px; padding:0px; list-style:none; text-decoration:none; box-sizing: border-box;}

body {background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");}
.container{max-width: 1200px;margin: 0px auto;padding: 0px 20px;}

img {max-width:100%; height:auto}

header {background-color: brown; position: fixed; width: 100%;}
#no-fixed {position: initial;}

nav {display: flex;flex-wrap: wrap;flex-direction: row;font-family: 'Lobster', cursive; }
nav a {color: antiquewhite; padding: 15px; font-size: 1.1rem;}
nav a:hover {background-color: rgba(0,0,0,0.1);}

#portada {background-image: url(../img/fondo-home.jpg);background-position: center center;background-attachment: fixed;
	background-size: cover;background-repeat: no-repeat;height: 100vh;display: flex;flex-wrap: wrap;flex-direction: row;
	align-items: center;padding-top: 52px;}

.textos-portada {font-family: 'Lobster', cursive; display: flex;flex-wrap: wrap;flex-direction: column;align-items: center;justify-content: center;text-align: center;}
.textos-portada h1 {font-size: 8rem; color: antiquewhite; text-shadow: 1px 2px black;}
.textos-portada h2 {font-size: 2.5rem; color: #865e44; text-shadow: 1px 2px black;}

.boton {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: flex-start;}
.boton a {color: white;padding: 10px 20px;background-color: brown;margin: 20px 5px;border-radius: 3px;}


.contenido-portada{}
.contenido-portada h1 {font-family: 'Lobster', cursive; padding: 40px 0px; color: brown; font-size: 3rem;}
.contenido-portada p {text-align: justify; padding: 0px 0px 15px 0px; font-size: 1.1rem; color: #1d1d1d;}

.more {color: brown;}

.cajas{}
.cajas-interno {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;
				padding: 10px 0px 30px 0px;}
.cajas-interno a {width: 32%;background-color: antiquewhite;color: brown;border: 1px brown solid;padding: 30px;border-radius: 5px;
				font-size: 2rem; margin: 50px 0px;border: 1px brown solid; text-align: center;}
.cajas-interno a:hover {background-color: brown; color: white; }



/* ESTILOS DE PAGINAS INTERNAS */
.contenido-paginas {}
.contenido-paginas h1 {font-family: 'Lobster', cursive; padding: 40px 0px; color: brown; font-size: 3rem;}
.contenido-paginas p {text-align: justify; padding: 0px 0px 15px 0px; font-size: 1.1rem; color: #1d1d1d;}
.imagenes {text-align: center !important;}

.contacto-fm {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;margin:50px 0px;}
.contacto-fm form {width: 50%;}
.contacto-fm form p {font-family: 'Lobster', cursive;color: brown;font-size: 1.5rem;}
.contacto-fm form p input {border: 1px brown solid;height: 30px;width: 400px;}
.contacto-fm form p textarea {    border: 1px brown solid;height: auto;width: 400px;}
.btn-submit {color: white;background-color: brown;font-family: 'Lobster', cursive;font-size: 2rem;height: initial !important;}
.contacto-fm iframe {width: 50%;}
/* -- ESTILOS DE PAGINAS INTERNAS -- */



footer {background-color: #1d1d1d; color: #fff;font-family: 'Lobster', cursive; padding: 30px 0px; text-align: center;}
.elementos-footer {display: flex;flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: space-between;}
.elementos-footer ul {width: 80px; display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;}
.elementos-footer ul li a {color: #fff;}

.visitas {color: aquamarine;}


@media only screen and (max-width: 780px) {

	.cajas-interno {flex-direction: column;}
	.cajas-interno a {width: 100%; margin: 10px 0px;}
	.elementos-footer {flex-direction: column;}

	.contacto-fm {flex-direction: column; }
	.contacto-fm form {width: 100%;}
	.contacto-fm iframe {width: 100%;}
}

@media only screen and (max-width: 530px) {

	.textos-portada h1 {font-size: 4rem;}	
	.textos-portada h2 {font-size: 1.5rem;}
	.boton a {margin: 5px}

	.contacto-fm form p input {width: 200px;}
	.contacto-fm form p textarea {width: 200px;}
}



/* Estilos de terceros para el javascript */

/*
essential styles:
these make the slideshow work
*/
#slides{
	position: relative;
	height: 300px;
	padding: 0px;
	margin: 20px 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
}

.slide:nth-of-type(1){
	background-image: url("http://www.newyorker.com/wp-content/uploads/2016/02/Gopnik-TheMurkyMeaningsofStraightenedOutCroissants-1200.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:nth-of-type(2){
	background-image: url("http://breadtopia.com/wp-content/uploads/2015/03/breadtopia-baguettes-001-e1425238592860.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:nth-of-type(3){
	background-image: url("http://cookdiary.net/wp-content/uploads/images/Brioches_2397.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:nth-of-type(4){
	background-image: url("http://1.bp.blogspot.com/-he3fkpfve3A/TiLZ8BKYXRI/AAAAAAAABLo/bf9sr0x77Ek/s1600/DSC_0048.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide:nth-of-type(5){
	background-image: url("https://static.betazeta.com/www.sabrosia.com/up/2014/10/pizzapanpita_-960x623.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* acordeon */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.acordion {margin: 10px 0px 40px 0px;}
.acordion h2 {margin: 10px 0px 20px 0px; font-family: 'Lobster'; color: brown;}


/* mi contador */
.mi-contador {font-size: 4rem !important;
    text-align: center !important;
    color: antiquewhite !important;
    background-color: brown;
    padding: 0px !important;
    width: 70%;
    margin: 40px auto;
    border-radius: 10px;
    font-family: 'Lobster';}

  @media only screen and (max-width: 900px) { 
  .mi-contador {font-size: 2.5rem !important; width: 100%;}  
}

